@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');


body{
    font-size: 16px;
    font-family:'Source Sans Pro', sans-serif; 
    background:hsl(110, 80%, 75%);
}
header{
    width: 100%;
    background:rgba(105, 149, 243, 0.7);
    color:white;
    padding: 5px;
    margin: 0px;
}
h1{
    font-size: 2em;
}
nav{
    display: inline-block;
}
li{
    display: inline-block;
    margin-right: 3em;
}
section.Biografia article{
    background:rgba(0, 0, 0, .2); 
}
article[lang |= "en"], article[lang |= "it"]{
    display: none;
}
h2[title]{
    font-size: 1.5em;
}

figure[title="fotoBiografia"] img{
    float: left;

}
section {
    width: 70%;
    background: rgb(105, 149, 243);
    color: white;
    padding: 0px;
    margin: 1em;
    display: inline-block;
    min-width: 600px;

}

section.casosDeExito{
    margin-top:1px;
}
section.casosDeExito h2{
    font-weight: bolder;
    color: red;
    text-align: center;
}
section article{
    margin: 3em;
    padding:1em;
}
section.casosDeExito article{
    background:black;
}






